*.sublime-settings
Cache
Local
Index
Installed Packages/*
Packages/User/Package Control.cache
Packages/User/Package Control.last-run
Packages/User/GitHub.sublime-settings
Packages/User/Package Control.system-ca-bundle
Packages/User/ColorPicker
Packages/User/PyV8